// fonts
$bodyFont: 'Arial';

// colors (yes, you do need to declare each twice)
$blue: #326ebb;
$red: #cc0000;

$colors: (
  'blue': $blue,
  'red': $red,
);


// mixins
@mixin transition($rule...) {
	-webkit-transition: $rule;
	-moz-transition: $rule;
	-ms-transition: $rule;
	-o-transition: $rule;
	transition: $rule;
}