@import 'includes';

$screen-xxs-max: 480px;
$screen-sm-min: 768px;
$screen-md-min: 992px;
$screen-lg-min: 1200px;

/* from 480 DOWN */
@media (max-width: $screen-xxs-max) {
}

/* Small devices (tablets, 768px and UP) */
@media (min-width: $screen-sm-min) {
}

/* Medium devices (desktops, 992px and UP) */
@media (min-width: $screen-md-min) {
}

/* Large devices (large desktops, 1200px and UP) */
@media (min-width: $screen-lg-min) {

}