$screen-xxs-max: 480px;
$screen-sm-min: 768px;
$screen-md-min: 992px;
$screen-lg-min: 1200px;

$sizes: 60;

@for $size from 8 through $sizes {
  .size-xs-#{$size} { font-size: $size + px; }
}
@media (max-width: $screen-xxs-max ){
	@for $size from 8 through $sizes {
		.size-xxs-#{$size} { font-size: $size + px; }
	}
}
@media (min-width: $screen-sm-min ){
	@for $size from 8 through $sizes {
		.size-md-#{$size} { font-size: $size + px; }
	}
}
@media (min-width: $screen-md-min ){
	@for $size from 8 through $sizes {
		.size-md-#{$size} { font-size: $size + px; }
	}
}
@media (min-width: $screen-lg-min ){
	@for $size from 8 through $sizes {
		.size-lg-#{$size} { font-size: $size + px; }
	}
}