@import 'includes';
/* change box model */
body {
    font-size: 14px;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    font-family: $bodyFont;
}
h1, h2,h3,h4,h5,h6 {
    font-weight: bold;
    line-height: 1em;
    margin: 0;
}
h1{
    font-size: 2em;
}
h2{
    font-size: 1.5em;
}
h3{
    font-size: 1.125em;
}
h4{
    font-size: 1em;
}
h5{
    font-size: .875em;
}
h6{
    font-size: .75em;
}
p,ul,ol,dl {
    font-size: 1em;
    &.large-copy {
        font-size: 1.25em;
    }
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
    color: $blue;
    &:focus {
        outline: none; // FF dotted outline
    }
    &:hover,
    &:focus {
        color: darken( $blue, 10% );
        text-decoration: none;
    }
}
button::-moz-focus-inner {
  border: 0; // FF dotted outline
}
article,
.content,
.text-content {
    line-height: 1.33em;
    * + p,
    * + ul,
    * + ol,
    * + h1,
    * + h2,
    * + h3,
    * + h4,
    * + h5,
    * + h6,
    * + blockquote,
    * + .button,
    * + .alignleft,
    * + .alignright {
        margin-top: 1em;
    }
    p:empty {
        + p, + ul, + ol, + h1, + h2, + h3, + h4, + .button {
            margin-top: 0;
        }
    }
    ol {
        list-style: decimal;
        padding-left: 20px;
        ol, ul {
            margin-bottom: 0;
        }
    }
    ul {
        list-style: disc;
        padding-left: 20px;
        ul, ol {
            margin-bottom: 0;
        }
    }
    ol, ul {
        &.no-bullets {
            padding-left: 0;
            list-style: none;
        }
    }
}
body {
    strong, b {
        font-weight: bold;
    }
    em {
        font-style: italic;
    }
}
img {
    max-width: 100%;
    height: auto;
    width: auto;
}
iframe,
object,
embed {
    max-width: 100%;
}
.video-container {
    position: relative;
    padding-bottom: 56.25%;
    height: 0; overflow: hidden;
    iframe,
    object,
    embed {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}
/* WordPress Default Classes
-------------------------------------------------------------- */
.alignnone {
    margin-right: 20px;
    margin-bottom: 20px;
}

.aligncenter,
div.aligncenter {
    display: block;
    margin: 5px auto 5px auto;
    clear: both;
}

.alignright {
    float: right;
    margin-left: 20px;
    margin-bottom: 1em;
}

.alignleft {
    float: left;
    margin-right: 20px;
    margin-bottom: 1em;
}
.text-align-center {
    text-align: center;
}
.text-align-left {
    text-align: left;
}
.text-align-right {
    text-align: right;
}

a {
    img.alignright {
        float: right;
        margin-left: 20px;
        margin-bottom: 1em;
    }
    img.alignnone {
        margin: 5px 20px 1em 0;
    }
    img.alignleft {
        float: left;
        margin-right: 20px;
        margin-bottom: 1em;
    }
    img.aligncenter {
        display: block;
        margin-left: auto;
        margin-right: auto
    }
}
hr {
    border: none;
    border-top: 1px solid #ccc;
}
// faux-tables
.tb {
    display: table;
    > .tb-td {
        display: table-cell;
        vertical-align: middle;
        height: 100%;
        float: none;
        &.va-top {
            vertical-align: top;
        }
        &.va-bottom {
            vertical-align: bottom;
        }
    }
}
.wp-caption {
    background: #fff;
    border: 1px solid #f0f0f0;
    max-width: 96%; /* Image does not overflow the content area */
    padding: 5px 3px 5px;
    text-align: center;
    &.alignnone {
        margin: 5px 20px 1em 0;
    }
    &.alignleft {
        margin-right: 20px;
        margin-bottom: 1em;
    }
    &.alignright {
        margin-left: 20px;
        margin-bottom: 1em;
    }
    img {
        border: 0 none;
        height: auto;
        margin: 0;
        max-width: 98.5%;
        padding: 0;
        width: auto;
    }
    p.wp-caption-text {
        font-size: .875em;
        line-height: 1.25em;
        margin: 0;
        padding: 5px 4px 0;
    }
}
blockquote {
    font-style: italic;
    margin: 1em 0;
    padding: .5em 15px;
}
@each $colorName, $color in $colors {
    .color-#{$colorName}{
        color: $color;
    }
}
.reversed {
    padding: 1em 30px;
    background: $orange;
    color: #fff;
    @each $colorName, $color in $colors {
        &.color-#{$colorName}{
            background: $color;
            color: #fff;
        }
    }
}
h1, h2, h3, h4, h5, h6 {
    &.reversed {
        padding-top: .66em;
        padding-bottom: .66em;
    }
}
/* clearfix */
.cf {
    *zoom: 1;
    &:before,
    &:after {
        content: " "; /* 1 */
        display: table; /* 2 */
    }
    &:after {
        clear: both;
    }
}