/* change box model */
body {
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: "Arial";
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
  line-height: 1em;
  margin: 0;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.5em;
}

h3 {
  font-size: 1.125em;
}

h4 {
  font-size: 1em;
}

h5 {
  font-size: .875em;
}

h6 {
  font-size: .75em;
}

p, ul, ol, dl {
  font-size: 1em;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #326ebb;
}
a:focus {
  outline: none;
}
a:hover, a:focus {
  color: #275693;
  text-decoration: none;
}

button::-moz-focus-inner {
  border: 0;
}

article,
.content {
  line-height: 1.66em;
}
article * + p,
article * + ul,
article * + ol,
article * + h1,
article * + h2,
article * + h3,
article * + h4,
article * + h5,
article * + h6,
article * + blockquote,
article * + .button,
.content * + p,
.content * + ul,
.content * + ol,
.content * + h1,
.content * + h2,
.content * + h3,
.content * + h4,
.content * + h5,
.content * + h6,
.content * + blockquote,
.content * + .button {
  margin-top: 1em;
}
article ol,
.content ol {
  list-style: decimal;
  padding-left: 20px;
}
article ol ol, article ol ul,
.content ol ol,
.content ol ul {
  margin-bottom: 0;
}
article ul,
.content ul {
  list-style: disc;
  padding-left: 20px;
}
article ul ul, article ul ol,
.content ul ul,
.content ul ol {
  margin-bottom: 0;
}
article ol.no-bullets, article ul.no-bullets,
.content ol.no-bullets,
.content ul.no-bullets {
  padding-left: 0;
  list-style: none;
}

body strong, body b {
  font-weight: bold;
}
body em {
  font-style: italic;
}

img {
  max-width: 100%;
  height: auto;
  width: auto;
}

iframe,
object,
embed {
  max-width: 100%;
}

.video-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
}
.video-container iframe,
.video-container object,
.video-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* WordPress Default Classes
-------------------------------------------------------------- */
.alignnone {
  margin: 5px 20px 20px 0;
}

.aligncenter,
div.aligncenter {
  display: block;
  margin: 5px auto 5px auto;
  clear: both;
}

.alignright {
  float: right;
  margin: 5px 0 20px 20px;
}

.alignleft {
  float: left;
  margin: 5px 20px 20px 0;
}

.text-align-center {
  text-align: center;
}

.text-align-left {
  text-align: left;
}

.text-align-right {
  text-align: right;
}

a img.alignright {
  float: right;
  margin: 5px 0 20px 20px;
}
a img.alignnone {
  margin: 5px 20px 20px 0;
}
a img.alignleft {
  float: left;
  margin: 5px 20px 10px 0;
}
a img.aligncenter {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

hr {
  border: none;
  border-top: 1px solid #ccc;
}

.tb {
  display: table;
}
.tb > .tb-td {
  display: table-cell;
  vertical-align: middle;
  height: 100%;
  float: none;
}
.tb > .tb-td.va-top {
  vertical-align: top;
}
.tb > .tb-td.va-bottom {
  vertical-align: bottom;
}

.wp-caption {
  background: #fff;
  border: 1px solid #f0f0f0;
  max-width: 96%;
  /* Image does not overflow the content area */
  padding: 5px 3px 5px;
  text-align: center;
}
.wp-caption.alignnone {
  margin: 5px 20px 20px 0;
}
.wp-caption.alignleft {
  margin: 5px 20px 20px 0;
}
.wp-caption.alignright {
  margin: 5px 0 20px 20px;
}
.wp-caption img {
  border: 0 none;
  height: auto;
  margin: 0;
  max-width: 98.5%;
  padding: 0;
  width: auto;
}
.wp-caption p.wp-caption-text {
  font-size: .875em;
  line-height: 1.25em;
  margin: 0;
  padding: 5px 4px 0;
}

blockquote {
  font-style: italic;
  margin: 1em 0;
  padding: .5em 15px;
}

.color-blue {
  color: #326ebb;
}

.color-red {
  color: #cc0000;
}

/* clearfix */
.cf {
  *zoom: 1;
}
.cf:before, .cf:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}
.cf:after {
  clear: both;
}
