<h1>h1 looks like this (normally only the page title)</h1>
<h2>h2 looks like this</h2>
The distance above this demonstrates the spacing between the h2 and subsequent elements. A paragraph with some <strong>strong</strong> and <b>bold</b> in it, as well as some <em>italic (emphasized) text,</em> and some <span style="text-decoration: underline;">underlined text</span>. Let us try a <del>strikethrough text</del> here. Also, here is how links look: <a href="#test">bam! I'm a link!</a> There you have it.

The distance above this demonstrates the spacing between consecutive paragraphs. Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim placerat facer possim assum.

<h3>h3 looks like this</h3>
The distance above this demonstrates the spacing between the h3 and subsequent elements. Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim placerat facer possim assum.
<h4>h4 looks like this</h4>
The distance above this demonstrates the spacing between the h4 and subsequent elements. Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim placerat facer possim assum.
<h2>Image spacing (example of an h2)</h2>
[caption id="attachment_4" align="alignleft" width="300"]<img class="wp-image-4 size-full" src="http://lorempixel.com/nothing/300/200/business" alt="Test" width="300" height="200" /> Image with caption goes here. And it is longer so it breaks to multiple lines.[/caption]

This demonstrates the standard styling of images, and the spacing if they are aligned to the left and right. Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim placerat facer possim assum. Typi non habent claritatem insitam; est usus legentis in iis qui facit eorum claritatem. Investigationes demonstraverunt lectores legere me lius quod ii legunt saepius. Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium lectorum. Mirum est notare quam littera gothica, quam nunc putamus parum claram, anteposuerit litterarum formas humanitatis per seacula quarta decima et quinta decima. Eodem modo typi, qui nunc nobis videntur parum clari, fiant sollemnes in futurum.

<img class="wp-image-4 alignright size-full" src="http://lorempixel.com/nothing/150/120/business" alt="Test" width="100" height="120" />

Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium lectorum. Mirum est notare quam littera gothica, quam nunc putamus parum claram, anteposuerit litterarum formas humanitatis per seacula quarta decima et quinta decima. Eodem modo typi, qui nunc nobis videntur parum clari, fiant sollemnes in futurum.

<strong>This is an unordered list with a nested ordered list.</strong>
<ul>
	<li>List item here</li>
	<li>List item here
<ol>
	<li>Sub-ordered List item here</li>
	<li>Sub-List item here</li>
</ol>
</li>
	<li>Longer list item here that might occasionally even go over to the next line depending on the length so this is a long one
		<ul>
			<li>Bam a lam (nested unordered style here)</li>
		</ul>
	</li>
</ul>
<strong>This is an ordered list with a nested unordered list.</strong>
<ol>
	<li>List item here</li>
	<li>List item here
		<ul>
			<li>Sub-unordered-List item here</li>
			<li>Sub-List item here</li>
		</ul>
	</li>
	<li>Longer list item here that might occasionally even go over to the next line depending on the length so this is a long one
		<ol>
			<li>Nested ordered list</li>
			<li>All of the goats went dancing</li>
		</ol>
	</li>
</ol>
<strong>Nest me like a baby bird</strong>
<p style="text-align: left; padding-left: 30px;"><strong>Indented text here.</strong>. Curabitur placerat sapien felis, vel hendrerit urna congue ac. Cras sagittis ipsum erat, nec luctus nisl dapibus vel. Phasellus tortor justo, rhoncus et vestibulum nec, vehicula et lectus. Sed ornare eros nec enim tempor dictum.</p>
<p style="padding-left: 60px;"><strong>Double-indented text here</strong>. Curabitur placerat sapien felis, vel hendrerit urna congue ac. Cras sagittis ipsum erat, nec luctus nisl dapibus vel. Phasellus tortor justo, rhoncus et vestibulum nec, vehicula et lectus. Sed ornare eros nec enim tempor dictum.</p>
<strong>Below is a horizontal rule.</strong>

<hr />

<strong>Below is a standard blockquote</strong>
<blockquote>Hi there! I'm a <strong>blockquote</strong> by day, aspiring actor by night, and this is my blog. I live in Los Angeles, have a great dog named Jack, and I like piña coladas. (And gettin' caught in the rain.)</blockquote>
<strong>Below are the standard button(s)  - the ones for use in standard typography) - and the hover states.</strong>

Button styles here.

<strong>Below are any other typographical elements that need to be reused throughout the design? Accordions? Tabs? Other items that can be "tossed in" at a moments notice? Delete me if not.</strong>

Other typography elements here.