/*
Theme Name: Custom Theme
Author: Pivot Group, LLC
Author Uri: http://askpivot.com
Version: 0.1.0
*/

@import 'css/includes';

/* ==== GLOBAL LAYOUT STYLES (grid, etc) ============================================= */

/* ==== Header ============================================= */
header.site {
	position: relative;
	z-index: 1;
}

/* ==== Content ============================================= */
#content {
	position: relative;
	z-index: 0;
}
.content-container {
	padding-top: 30px;
	padding-bottom: 30px;
	&.no-top-padding {
		padding-top: 0;
	}
	&.no-bottom-padding {
		padding-bottom: 0;
	}
}
/* ==== Footer ============================================= */
footer.site {

}

/* ==== MISC ============================================= */
.button {
	background: $red;
	color: #fff;
	display: inline-block;
	padding: .5em 35px;
	&:hover {
		background: darken( $red, 10% );
		color: #fff;
	}
	@each $colorName, $color in $colors {
		&.color-#{$colorName} {
			background: $color;
			&:hover {
				background: darken( $color, 5% );
			}
		}
	}
	&.full-width {
		display: block;
		text-align: center;
	}
}
// bottom right display of time taken for server to generate page
.time-taken {
	position: fixed;
	bottom: 0;
	right: 0;
	z-index: 1;
	background: #000;
	color: #fff;
	font-weight: bold;
	padding: 1em 30px;
}