/*
Theme Name: Custom Theme
Author: Pivot Group, LLC
Author Uri: http://askpivot.com
Version: 0.1.0
*/
/* ==== GLOBAL LAYOUT STYLES (grid, etc) ============================================= */
/* ==== Header ============================================= */
header.site {
  position: relative;
  z-index: 1;
}

/* ==== Content ============================================= */
#content {
  position: relative;
  z-index: 0;
}

.content-container {
  padding-top: 30px;
  padding-bottom: 30px;
}
.content-container.no-top-padding {
  padding-top: 0;
}
.content-container.no-bottom-padding {
  padding-bottom: 0;
}

/* ==== Footer ============================================= */
/* ==== MISC ============================================= */
.button {
  background: #cc0000;
  color: #fff;
  display: inline-block;
  padding: .5em 35px;
}
.button:hover {
  background: #990000;
  color: #fff;
}
.button.color-blue {
  background: #212932;
}
.button.color-blue:hover {
  background: #0d161f;
}
.button.full-width {
  display: block;
  text-align: center;
}

.time-taken {
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 1;
  background: #000;
  color: #fff;
  font-weight: bold;
  padding: 1em 30px;
}
