.page-layout-summary {
  position: relative;
  margin-bottom: 1em;
  max-width: 300px;
  padding-right: 15px;
  opacity: 0;
}
.page-layout-summary .edit-link {
  position: absolute;
  top: 100%;
  left: 0;
  display: none;
  margin-top: .5em;
}
.page-layout-summary > * {
  line-height: 1em;
}
.page-layout-summary > * + * {
  margin-top: .5em;
}
.page-layout-summary .page-header_image {
  position: relative;
}
.page-layout-summary .header-image-preview {
  max-width: 50px;
  max-height: 20px;
  margin-left: 5px;
  position: relative;
  top: 3px;
}
.page-layout-summary .header-image-preview:hover + .header-image-hover {
  display: block;
}
.page-layout-summary .header-image-hover {
  display: none;
  position: absolute;
  width: auto;
  height: auto;
  border: 5px solid #fff;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(55, 55, 55, 0.5);
  z-index: 0;
  left: 100%;
  top: 0;
}

#the-list tr:hover .page-layout-summary, #the-list tr.editing-layout .page-layout-summary {
  opacity: 1;
}
#the-list tr:hover .page-layout-summary .edit-link, #the-list tr.editing-layout .page-layout-summary .edit-link {
  display: block;
}
#the-list tr.editing-layout td.page_layout {
  background: #ffff99;
}

.ui-dialog.edit_page_layout .ui-dialog-content {
  opacity: 1;
  transition: .3s ease;
}
.ui-dialog.edit_page_layout.saving .ui-dialog-content {
  opacity: .5;
}
.ui-dialog.edit_page_layout.saving .ui-dialog-buttonset:before {
  content: 'Saving...';
  display: inline-block;
  margin-right: 10px;
  font-style: italic;
  padding-top: .5em;
}
