.page-layout-summary {
	position: relative;
	margin-bottom: 1em;
	max-width: 300px;
	padding-right: 15px;
	opacity: 0;
	.edit-link {
		position: absolute;
		top: 100%;
		left: 0;
		display: none;
		margin-top: .5em;
	}
	> * {
		line-height: 1em;
		+ * {
			margin-top: .5em;
		}
	}
	.page-header_image {
		position: relative;
	}
	.header-image-preview {
		max-width: 50px;
		max-height: 20px;
		margin-left: 5px;
		position: relative;
		top: 3px;
		// position: absolute;
		// top: 0;
		// right: 0;
		&:hover {
			+ .header-image-hover {
				display: block;
			}
		}
	}
	.header-image-hover {
		display: none;
		position: absolute;
		width: auto;
		height: auto;
		border: 5px solid #fff;
		border-radius: 5px;
		box-shadow: 0 0 5px rgba( 55, 55, 55, .5 );
		z-index: 0;
		left: 100%;
		top: 0;
	}
}
#the-list tr {
	&:hover,
	&.editing-layout {
		.page-layout-summary {
			opacity: 1;
			.edit-link {
				display: block;
			}
		}
	}
	&.editing-layout {
		td.page_layout {
			background: #ffff99;
		}
	}
}

.ui-dialog {
	&.edit_page_layout {
		.ui-dialog-content {
			opacity: 1;
			transition: .3s ease;
		}
		&.saving {
			.ui-dialog-content {
				opacity: .5;
			}
			.ui-dialog-buttonset {
				&:before {
					content: 'Saving...';
					display: inline-block;
					margin-right: 10px;
					font-style: italic;
					padding-top: .5em;
				}
			}
		}
	}
}